<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
   <add key="FilePath" value="Admin\myimageT"/>
    
    <add key="FilePath" value="~/imageT/admFlier.jpg"></add>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  
     <location path="." inheritInChildApplications="false">
  <connectionStrings>
    <clear/>
    <!--
    <add
    name="CISNDB2018ConnectionString"
    connectionString = "Data Source=tcp:s17.winhost.com;
    Initial Catalog=DB_130844_cisn;
    uid=DB_130844_cisn_user;
    password=cisn12345;
    Integrated Security=false
    " providerName="System.Data.SqlClient" />
    
    
    <add name="CISNDB2018"
         connectionString="Data Source=WILSONUMOH\SQLEXPRESS;Initial Catalog=CISNDB2018;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    
    
    <add
    name="CISNDB2018ConnectionString"
    connectionString = "Data Source=tcp:s17.winhost.com;
    Initial Catalog=DB_123628_cisn;
    uid=DB_123628_cisn_user;
    password=cisn1234;
    Integrated Security=false
    " providerName="System.Data.SqlClient" />
    
    http://localhost:59429/Admin/image1/2.png
    
      <add
    name="DB_123628_cisnConnectionString"
    connectionString = "Data Source=tcp:s17.winhost.com;
    Initial Catalog=DB_123628_cisn;
    uid=DB_123628_cisn_user;
    password=cisn1234;
    Integrated Security=false
    " providerName="System.Data.SqlClient" />
    
-->
   
   <add
    name="CISNDB2018ConnectionString"
    connectionString = "Data Source=tcp:s17.winhost.com;
    Initial Catalog=DB_123628_cisn;
    uid=DB_123628_cisn_user;
    password=cisn1234;
    Integrated Security=false
    " providerName="System.Data.SqlClient" />

<!--<add name="CISNDB2018ConnectionString"
         connectionString="Data Source=WILSONUMOH\SQLEXPRESS;Initial Catalog=CISNDB2018;Integrated Security=True"
         providerName="System.Data.SqlClient"/>-->
  
  
  </connectionStrings>
       
      </location>
  <system.web>
    
        
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <!--<add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>